name: Build jubilant-adventure

on:
  push:
    branches:
      - main

jobs:
  builds:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          persist-credentials: false

      - name: Setup Node.js 16.13.0
        uses: actions/setup-node@master
        with:
          node-version: "16.13.0"

      - name: Setup pnpm
        uses: pnpm/action-setup@v2
        with:
          version: latest

      - name: Build
        run: pnpm install && pnpm build:prod
